# Dependency directories
node_modules/
venv/
env/
.env
.env.docker

# Compiled code
*.o
*.pyc
*.class

# Build output directories
/bin/
/out/
/target/

# Runtime files
*.log
*.lock
*.tmp

# System files
.DS_Store
Thumbs.db

# IDE configuration files
.idea/
*.iml
