body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #2c2a2a;
    color: white;
}


.container {
    margin-top: 60px;
    margin-left: 80px;
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.content {
    flex: 15;
}

.content p {
    margin: 0;
    color: white;
}

footer {
    text-align: center;
    flex: 1;
    margin: 0;
}

.sidebar {
    margin-top: 60px;
    background-color: #2c2a2a;
    display: flex;
    width: 80px;
    position: fixed;
    height: 100%;
    top: 0;
    padding: 0;
    flex-direction: column;
}

.navbar {
    display: flex;
    height: 60px;
    position: fixed;
    width: 100%;
    top: 0;
    padding: 0;
    flex-direction: row;
    background-color: #2c2a2a;
}