{% extends 'base.html' %}
{% load static %}


{% block content %}
    <div class="search-field-container">
        <form method="POST" class="search-bar-two">
            {% csrf_token %}
            <div class="searchbar-wrapper">
                <div class="wrapper">
                <button id="search-icon-submit">
                    <i class="fa-solid fa-magnifying-glass two"
                       style="color: #ffffff;"></i>
                </button>
                </div>
                <label style="display: flex">
                    <input type="text"
                           class="article-field"
                           name="article-field"
                           placeholder="Search"
                           required>
                </label>
            </div>
        </form>
    </div>

    <div class="article-inf-section">
     <form method="post" action="{% url 'fetch_page' %}">
        {% csrf_token %}
        <button type="submit" name="clear_articles" value="true">Clear Articles</button>
    </form>
    {%if article_info%}
       <ul>
            <li>
                <p>URL: {{ article_info.url }}</p>
                <p>Price: {{ article_info.price }}</p>{{article_info.product_image_url}}
                <p>Image: <img 
                    src="{{ article_info.image }}"
                    alt="{{ article_info.name }}">
                </p>
                <p>Name: {{ article_info.name }}</p>
            </li>
    </ul>
    {%endif%}
        <ul>
        {% for article in scraped_articles_history %}
            <li>
                <p>URL: {{ article.url }}</p>
                <p>Price: {{ article.price }}</p>
                <p>Image: <img src="{{ article.image }}" alt="{{ article.name }}"></p>
                <p>Name: {{ article.name }}</p>
            </li>
        {% endfor %}
    </ul>
    </div>
    
{% endblock %}

{% block js %}
    <script src="{% static 'js/fetch.js' %}"></script>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css"
          href="{% static 'css/fetch_page.css' %}">
{% endblock %}

