{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block styles %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <title>{% block title %}My Website{% endblock %}</title>
</head>
<body>
{% include 'navbar.html' %}

<div id="content">
    {% block content %}{% endblock %}
</div>

<footer>
    <p>&copy; {% now "Y" %} My Website. All rights reserved.</p>
    <!-- Add footer content or scripts here -->
</footer>

</body>
</html>
