{% load static %}


<div class="navbar-section">

    <div class="left-section">
        <div class="menu-icon">
            <i class="fa-solid fa-bars" style="color: #ffffff;"></i>
        </div>
        <div class="logo">
            <a href="{% url 'home' %}"><img
                    src="{% static 'media/images/logo-no-background.png' %}"
                    alt="logo" class="image"></a>
        </div>
    </div>

    <div class="middle-section">
        <label>
            <input class="search-bar" type="text"
                   placeholder="Search by article">
        </label>
        <i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i>
    </div>

    <ul class="right-section">
        {% if user.is_authenticated %}
            <li><a href="{% url 'user_profile' user.id %}"><i class="fa-solid fa-user"
                               style="color: #ffffff;"></i></a></li>
            <li><a href="{% url 'logout' %}"><i
                    class="fa-solid fa-right-from-bracket"
                    style="color: #ffffff;"></i></a></li>
        {% else %}
            <li><a href="{% url 'login' %}"><i
                    class="fa-solid fa-right-to-bracket"
                    style="color: #ffffff;"></i></a></li>
        {% endif %}
    </ul>

</div>

<link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">